body {
    min-width: 100vw;
    margin: 0;
    background-color: ;
}
header {
    display: grid;
    grid-template-areas: 
        "logo nav"
        "title title";
    min-width: 100%;
    margin: 0 auto;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}
nav h3 {
    margin: 5px;
}
.logo {
    grid-area: logo;
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0
    
}
.title{
    grid-area: title;
    align-self: center;
    justify-self: center;
    margin: 20%;
}
img {
    max-width: 10rem;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    /* min-width: 100%; */
    max-width: 80%;
    margin: 0 auto;
    column-gap: 10px;
}
section{
    height: 500px;
    min-height: fit-content;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: rgb(250,250,250);
    box-shadow: 0 -1rem 2rem #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.35s;
}
@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
    section {
        transform: scale(.75);
    }
}
/* animations only for hover devices */
@media (hover:hover) {
    section:nth-child(odd):hover {
    transform: translate(50%, -50px) scale(1.5);
}
section:nth-child(even):hover {
    transform: translate(-50%, -50px) scale(1.5);
}
}
